<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gy.motionlayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".example.DemoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CarouselActivity" />
        <activity android:name=".example.DemoChildActivity"/>
        <activity android:name=".example.ComplexAnimationActivity"/>
        <activity android:name=".example.activity.AnimationActivity"/>
        <activity android:name=".example.activity.AnimationCardActivity"/>
        <activity android:name=".example.activity.AnimationCarActivity"/>
        <activity android:name=".example.activity.ViewPagerDemoActivity"/>
        <activity android:name=".example.activity.HuaweiTelActivity"/>
        <activity android:name=".example.activity.EasterEggs11Activity"/>
        <activity android:name=".example.activity.ViewTransitionActivity"/>
        <activity android:name=".example.activity.RotationalActivity"/>
        <activity android:name=".example.spring.SpringAnimationActivity"/>
        <activity android:name="com.gy.motionlayout.example.transition.TransitionAnimationActivity"/>
        <activity android:name=".example.constraintLayout.ConstraintLayoutActivity"/>
        <activity android:name=".example.activity.MotionEffectActivity"/>
        <activity android:name=".example.activity.MotionLabelActivity"/>

    </application>

</manifest>